# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules

dist

# Exclude sourcemaps
*.map

# obsidian
data.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store

# Sublime
obsidian-import-attachments-plus.sublime-workspace

# iCLoud
*.nosync

pnpm-lock.yaml
pnpm-workspace.yaml
