.nav-files-container:not(.import-plugin-hidden) .import-plugin-hidden {
	display: none;
}

.import-plugin table {
	width: 100%;
	border-collapse: collapse;
}

.import-plugin tr.sep {
	padding-top: 10px;
	border-top: 1px solid var(--background-modifier-border);
	border-bottom: 1px solid var(--background-modifier-border);
}

.import-plugin td {
	padding: 18px 0 18px 0;
}

.import-plugin .import-question {
	width: 75%;
	text-align: left;
}

.import-plugin .import-option-A {
	width: auto;
	text-align: right;
	padding-right: 5px;
}

.import-plugin .import-option-B {
	width: auto;
	text-align: left;
	padding-left: 5px;
	padding-right: 5px;
}

.import-buttons {
	display: flex;              /* Establishes this container as a flex container */
    justify-content: flex-end;  /* Aligns children (the button) to the right */    
}

/* Style for the container that holds the buttons */
.import-buttons button {
	padding: 16px 16px;
    margin: 15px 0 0 15px;         /* Optional: Adds margin on the right for spacing from container edge */
}

/* Focus styles for accessibility */
/*
.import-buttons button:focus {
    outline: 3px solid var(--interactive-accent-hover);
    outline-offset: 2px;
}
*/

.import-switch {
	position: relative;
	display: inline-block;
	width: 50px;
	/* Width of the slider */
	height: 24px;
	/* Height of the slider */
}

.import-switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.import-slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--color-base-60);
	transition: .4s;
	border-radius: 24px;
}

.import-slider:before {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: 2px;
	bottom: 2px;
	background-color: white;
	transition: .2s;
	border-radius: 50%;
}

input:checked+.import-slider:before {
	transform: translateX(26px);
	/* Adjust translation distance */
}

.import-slider:hover {
	/* Keep the original accent color on hover */
	background-color: var(--color-base-70);
}
